@tailwind base;
@tailwind components;
@tailwind utilities;

.imgs{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: absolute;
}

.bg-dark{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.353);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
